doctype html
html
  head
    title Simple Map
    meta(name='viewport', content='initial-scale=1.0')
    meta(charset='utf-8')
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  body
    #map
    script.
        var map;
        function initMap() {
            var location = {lat: #{lat}, lng: #{lng}};

            map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 16
            });

            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: 'Location'
            });
        }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCFIdix9F26dAOBdsZSSf04hhu_fT2fCS4&callback=initMap', async='', defer='')